*.class
web/WEB-INF/lib

/web/www/bootstrap.css
/web/www/build.xml
/web/www/bootstrap.js
/web/www/workspace.json
/web/www/sass/example
web/www/ext
/web/www/classic.json
/web/www/modern.json
/web/www/.sencha
/web/wwt/.sencha
/web/wwt/build
/web/wwt/resources/loading
/web/wwt/resources/sass/config.rb
/web/wwt/resources/icons
/web/wwt/resources/startup
/web/wwt/resources/sass
/web/wwt/resources/sass/stylesheets
/web/wwt/resources/sass/.sass-cache
/web/wwt/resources/css
/web/wwt/touch

web/www/build
.idea
/XApp.iml
out

