<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--enter-->
    <bean id="enterJob" class="xd.fw.job.EnterJob">
        <property name="parkingNo">
            <value>12345678</value>
        </property>
    </bean>
    <bean id="outJob" parent="enterJob"/>
    <bean id="freeJob" parent="enterJob"/>

    <bean id="enterJobDetail" parent="baseJobDetail">
        <property name="targetObject">
            <ref bean="enterJob"/>
        </property>
    </bean>

    <bean id="enterJobDoTime"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="enterJobDetail"/>
        </property>
        <property name="cronExpression">
            <value>0/30 * * * * ?</value>
        </property>
    </bean>

    <bean id="outJobDetail" parent="baseJobDetail">
        <property name="targetObject">
            <ref bean="outJob"/>
        </property>
    </bean>

    <bean id="outJobDoTime"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="outJobDetail"/>
        </property>
        <property name="cronExpression">
            <value>0/30 * * * * ?</value>
        </property>
    </bean>

    <bean id="freeJobDetail" parent="baseJobDetail">
        <property name="targetObject">
            <ref bean="freeJob"/>
        </property>
    </bean>

    <bean id="freeJobDoTime"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="freeJobDetail"/>
        </property>
        <property name="cronExpression">
            <value>0/30 * * * * ?</value>
        </property>
    </bean>

    <bean id="startQuertz" lazy-init="false" autowire="no"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <!--ref bean="memoryCheckDoTime"/-->
                <ref bean="enterJobDoTime"/>
                <ref bean="outJobDoTime"/>
                <ref bean="freeJobDoTime"/>
            </list>
        </property>
    </bean>

</beans>